		<footer>
			<hr>
			<p class="text-muted text-center">
				YelpCamp created by <a href="https://github.com/paatryk01">Patryk Antosz</a> - 2020
			</p>
		</footer>	

		</div>

 		<script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous">
		</script>

		<script src="https://kit.fontawesome.com/b3452d7d34.js" crossorigin="anonymous"></script>

		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 				  					crossorigin="anonymous">
		</script>
    </body>
</html>