<%- include("./partials/header") %>

<div id="register" class="container">
	<div class="row flex-column">
		<h1 style="text-align:center">Register to YelpCamp</h1>
		<div id="registerform">
			<form action="/register" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="username" placeholder="Username">
				</div>
				<div class="form-group">
					<input class="form-control" type="password" name="password" placeholder="Password">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="firstName" placeholder="First name">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="lastName" placeholder="Last name">
				</div>
				<div class="form-group">
					<input class="form-control" type="email" name="email" placeholder="johnbacon@mail.com">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="avatar" placeholder="Avatar URL">
				</div>
				<div class="form-group">
					<input class="form-control" type="password" name="secretCode" placeholder="Admin's code">
				</div>
				<div class="form-group">
					<button class="form-control btn btn-primary btn-block" type="submit">Submit</button>
				</div>
			</form>
			<a class="btn btn-info btn-block my-3" href="/campgrounds/page/1"><i class="fas fa-arrow-circle-left"></i> Go back</a>
		</div>
	</div>
</div>

<%- include("./partials/footer") %>