body {
	background:white;
}

.nav-item:hover {
	transition: all 1s ease-in-out;
}

.jumbotron {
	background:linear-gradient(rgba(252, 245, 255, 0.3), rgba(252, 245, 255, 0.3)), url("https://images.unsplash.com/photo-1499591934245-40b55745b905?ixlib=rb 1.2.1&auto=format&fit=crop&w=1352&q=80");
	background-position:center;
	font-weight: 300;
	font-size:1.5rem;
	color:#fcf5ff;
	margin-bottom:1rem;
	height: 400px;
}

.jumbotron p {
	color:black;
}

.jumbotron h1{
	color:black;
	font-size: 4rem;
	font-family: 'Sansita', sans-serif;
	font-weight:700;
}

.single-item {
	background: #fcf5ff;
	transition: all 0.5s linear;
}

.single-item:hover {
	box-shadow: 0 8px 12px black;
}

.img-container{
	position: relative;
  	overflow: hidden;
  	cursor: pointer;
}

.img-container{
  	position: relative;
  	overflow: hidden;
  	cursor: pointer;
}

.camp-img{
  	transition: all 1s ease-in-out;
}

.img-container:hover .camp-img{
  	transform: scale(1.2);
}

.info-button{
	transition:0.5s linear;
}

#loginform {
	width: 30%;
	margin:25px auto;
}

#login h1 {
	font-size:3rem;
}

#registerform {
	width: 30%;
	margin:25px auto;
}

#register h1 {
	font-size:3rem;
}

#userCampList a:hover{
	color:#007bff;
	text-decoration:none;
}

#addedCamp {
	color:gray;
	font-size:.8rem;
}

@media (max-width: 991px) {
	#loginform {
		width:70%;
	}
	#registerform {
		width:70%;
	}
}