body {
	font-family: 'Sansita', sans-serif;
	margin-top:80px;
}

a {
	color:black;
}

nav {
	background: #fcf5ff;
}

nav .nav-link:hover {
	color: #b812ff;
}

.nav-item:hover {
	border-radius:.25rem;
}

#delete {
	display:inline;
}


#brand {
	font-size:1.5rem;
}

#brand:hover {
	border-radius:.25rem;
}

.navbar-light .navbar-nav .nav-link {
	color:black;
}

.navbar-light .navbar-nav .nav-link:hover {
	color:#b812ff;
	transition:0.5s linear;
}

.btn-sm {
	padding: .25rem .4rem;
  	font-size: .875rem;
  	line-height: .5;
  	border-radius: .2rem;
}

@media (max-width: 991px) {
	.navbar-nav {
		text-align:center;
		margin:10px auto;
		width:50%;
	}
}
